
#container {
    Width: 500px;
    Height: 500px;
}

#canvas {
    display: flex;
    flex: 1 2 auto;
    
}

.row {
    flex: 1 2 auto;
    border: 5px;
    border-color: red;
    margin: 0px;
    color: black;
    background-color: grey;
}

.col {
    flex: 1 2 auto;
    
    border: 5px;
    border-color: red;
    margin: 1px;
    color: black;
    background-color: white;
    padding: 10px;
}

.colFill {
    background-color: black;
}

.col::before {
    content: '';
    display: flex;
    padding-top: 100%;
}

.btn {
    flex: 1 0 auto;
}

.btnFill {
    background-color: lightblue;
}