#canvas {
    display: flex;
    
}

.row {
    flex: 1;
    border: 5px;
    border-color: red;
    margin: 0px;
    color: black;
    background-color: grey;
}

.col {
    flex: 1 0 auto;
    height: auto;
    border: 5px;
    border-color: red;
    margin: 1px;
    color: black;
    background-color: white;
    padding: 10px;
}

.col::before {
    content: '';
    display: block;
    padding-top: 100%;
}