#canvas {
    display: flex;
    
}

.row {
    flex: 1;
    border: 10px;
    border-color: red;
    margin: 10px;
    padding: 10px;
    color: black;
    background-color: blue;
}

.col {
    flex: 1;
    border: 10px;
    border-color: red;
    margin: 10px;
    padding: 10px;
    color: black;
    background-color: black;
}